body {
    background-color: #A1C2F1;
    height: 100%;
    width: 100%;
    padding-inline: 10px;
}

.header {
    position: fixed;
    width: 100%;
}

.judul-header {
    text-align: center;
    padding: 20px 0;
}

.change-language {
    text-align: right;
    padding-right: 30px;
    margin: auto;
}

.a-link {
    color: black;
}

.a-link:hover {
    color: white;
}

.background-header {
    background-color: #5A96E3;
}
